Repository CodeSystem2022/Debugging_Demons_Cuarto_Semestre, pull requests merged in 2023-11, with the labels that each got.

#107 Braian troncoso
  Troncoso, Braian Axel/LaboratorioIV/Javascript/PERN-stack/app.mjs
  Troncoso, Braian Axel/LaboratorioIV/Javascript/PERN-stack/db.js
  Troncoso, Braian Axel/LaboratorioIV/Javascript/PERN-stack/index.mjs
  Troncoso, Braian Axel/LaboratorioIV/Python/Python_avanzado/charts.py
  Troncoso, Braian Axel/LaboratorioIV/Python/Python_avanzado/charts/charts.py
  Troncoso, Braian Axel/LaboratorioIV/Python/Python_avanzado/main.py
  Troncoso, Braian Axel/LaboratorioIV/Python/Python_avanzado/py-proyect.py
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/bar.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/charts.py
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/data.csv
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/example.py
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/imgs/Argentina.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/imgs/Bolivia.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/imgs/Colombia.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/imgs/Peru.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/imgs/Uruguay.png
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/main.py
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/read_csv.py
  Troncoso, Braian Axel/LaboratorioIV/Python/py-project/app/utils.py
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/Leccion03.iml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/.gitignore
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/codeStyles/Project.xml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/codeStyles/codeStyleConfig.xml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/misc.xml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/modules.xml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/.idea/vcs.xml
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/ILibroServicio.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/Libro.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/LibroFrom.form
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/LibroFrom.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/LibroRepositorio.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/LibroServicio.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/TiendaLibrosApplication.java
  Troncoso, Braian Axel/Metodologia/Java/Leccion03/tienda_libros/tienda_libros.iml
  Troncoso, Braian Axel/Metodologia/Node/01-Hola-Mundo/entorno.js
  Troncoso, Braian Axel/Metodologia/Node/01-Hola-Mundo/monohilo.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/async/asyncAwait.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/async/callback.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/async/callbackHell.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/async/promises.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/modulos/archivo.txt
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/modulos/fs.js
  Troncoso, Braian Axel/Metodologia/Node/02-Fundamentos_node/modulos/globales.js
  Troncoso, Braian Axel/Metodologia/Node/Clase04/Captura de pantalla (82).png
  Troncoso, Braian Axel/Metodologia/Node/Clase04/Captura de pantalla_2023-09-07_02-42-10.jpg
  Troncoso, Braian Axel/Metodologia/Node/Clase04/image001-3d079334-b097-4b4d-8162-071438354107.jpg
  Troncoso, Braian Axel/Metodologia/Node/Clase04/node_basic.jpg
Labels: Python, Java, Javascript, Node, Pull Request, Merge a main

#110 Merge Agustin-Pesce to dev
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/.gitignore
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/databse/init.sql
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/package-lock.json
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/package.json
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/app.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/config.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/controllers/auth.controller.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/controllers/tareas.controller.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/db.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/index.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/router/auth.routes.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/router/tareas.routes.js
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/charts/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/main.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/py-proyect.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/bar.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/data.csv
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/example.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Argentina.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Bolivia.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Colombia.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Peru.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Uruguay.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/main.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/read_csv.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/utils.py
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.gitignore
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.mvn/wrapper/maven-wrapper.jar
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.mvn/wrapper/maven-wrapper.properties
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/mvnw
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/mvnw.cmd
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.form
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/asyncAwait.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/callback.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/callbackHell.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/promises.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/archivo.txt
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/fs.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/globales.js
Labels: Python, Java, Javascript, Node, Pull Request

#111 Merge dev to main
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/.gitignore
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/databse/init.sql
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/package-lock.json
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/package.json
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/app.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/config.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/controllers/auth.controller.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/controllers/tareas.controller.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/db.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/index.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/router/auth.routes.js
  Perez Pesce, Agustin/LaboratorioIV/Javascript/PERN-stack/src/router/tareas.routes.js
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/charts/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/main.py
  Perez Pesce, Agustin/LaboratorioIV/Python/Python_entorno_profesional/py-proyect.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/bar.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/charts.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/data.csv
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/example.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Argentina.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Bolivia.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Colombia.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Peru.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/imgs/Uruguay.png
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/main.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/read_csv.py
  Perez Pesce, Agustin/LaboratorioIV/Python/py-project/app/utils.py
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.gitignore
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.mvn/wrapper/maven-wrapper.jar
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/.mvn/wrapper/maven-wrapper.properties
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/mvnw
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/mvnw.cmd
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.form
  Perez Pesce, Agustin/Metodologia/Java/[Java]-Leccion_03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroFrom.java
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/asyncAwait.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/callback.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/callbackHell.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/async/promises.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/archivo.txt
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/fs.js
  Perez Pesce, Agustin/Metodologia/Node/[Node]-Leccion_01/02-Fundamentos_node/modulos/globales.js
Labels: Python, Java, Javascript, Node, Merge a main
